body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  justify-content: flex-start;
}

#arrow {
  background-color: #2f8011;
  height: 20%;
  width: 100%;
}

header {
  background-color: #328912;
  width: 100%;
  height: 50px;
  text-align: center;
}

footer {
  background-color: #328912;
  width: 100%;
  height: 50px;
  text-align: center;
}

.top {
  color: aquamarine;
}

main {
  display: flex;
  flex-grow: 1;
  background-color: beige;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}
