.parent {
	background-color: #868421;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	gap: 5%;
}
.leftbulle {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 75%;
}
.leftbulle img {
	width: 65%;
	height: 30%;
	object-fit: cover;
	display: block;
	border-radius: 100%;
}

.right {
	color: #d9efec;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 75%;
	width: 40%;
}
.tags div {
	background-color: #00594c;
	padding: 5%;
}
.tags {
	display: flex;
	gap: 5%;
}
.bottom {
	display: flex;
	flex-direction: column;
	gap: 30%;
}
