body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	justify-content: center;
	background-color: #e6f6f4;
}

#arrow {
	background-color: #006557;
	display: grid;
	height: 10%;
	padding-left: 10%;
	padding-right: 10%;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.second_row {
	grid-row-start: 2;
}
