body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	justify-content: center;
	background-color: #e6f6f4;
}

body > div {
	flex: 1;
}

#arrow {
	background-color: #006557;
	display: grid;
	padding-left: 10%;
	padding-right: 10%;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.buttonContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

.circle {
	background: #e6f6f4;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.odd {
	animation-duration: 1s;
	animation-name: retractOdd;
}

.even {
	animation-duration: 1s;
	animation-name: retractEven;
}

.circle:hover {
}

.expandedOdd {
	animation-duration: 1s;
	animation-name: expandOdd;
	width: 150px;
	height: 150px;
	top: -50%;
}

.expandedEven {
	animation-duration: 1s;
	animation-name: expandEven;
	width: 150px;
	height: 150px;
	top: -150%;
}

@keyframes expandOdd {
	0% {
		top: 50%;
		width: 50px;
		height: 50px;
	}

	100% {
		top: -50%;
		width: 150px;
		height: 150px;
	}
}

@keyframes expandEven {
	0% {
		top: 50%;
		width: 50px;
		height: 50px;
	}

	100% {
		top: -150%;
		width: 150px;
		height: 150px;
	}
}

@keyframes retractOdd {
	0% {
		top: -50%;
		width: 150px;
		height: 150px;
	}

	100% {
		top: 50%;
		width: 50px;
		height: 50px;
	}
}

@keyframes retractEven {
	0% {
		top: -150%;
		width: 150px;
		height: 150px;
	}

	100% {
		top: 50%;
		width: 50px;
		height: 50px;
	}
}
